@using GlowingTemplate.Models;

@model Section

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description">
                Basic form layout
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Title">Title</label>
                    <input asp-for="Title" class="form-control" id="Title" placeholder="Title">
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" class="form-control" id="Description" placeholder="Description">
                    <span asp-validation-for="Description"></span>

                </div>
                <div class="form-group">
                    <label asp-for="ImageFile">Image</label>
                    <input asp-for="ImageFile" class="form-control" id="Image" placeholder="Image">
                    <span asp-validation-for="ImageUrl"></span>

                </div>


                <button type="submit" class="btn btn-primary mr-2">Submit</button>

            </form>
        </div>
    </div>
</div>
